<ion-content>

  <ion-card class="i-extruct">
    <ion-card-header class="ti">
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="registroForm">

        <ion-item>
          <ion-label position="stacked">Nombre: </ion-label>
          <ion-input type="text" placeholder="Ingrese su Nombre.." formControlName="username"></ion-input>
        </ion-item>

        <div id="alerta" *ngIf="registroForm.get('username')?.invalid && (registroForm.get('username')?.dirty ||
                      registroForm.get('username')?.touched)">
              <div id="alerta" *ngIf="registroForm.get('username')?.hasError('required')">
                *Username es obligatorio
              </div>
              <div id="alerta" *ngIf="registroForm.get('username')?.hasError('minlength')">
                *Username debe tener minimo 6 caracteres
              </div>
          </div>
        
        
        <ion-item>
          <ion-label position="stacked">Email: </ion-label>
          <ion-input type="email" placeholder="Ingrese su correo.." formControlName="email"></ion-input>
        </ion-item>

        <div id="alerta" *ngIf="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty ||
                        registroForm.get('email')?.touched)">
                <div id="alerta" *ngIf="registroForm.get('email')?.hasError('required')">
                  *Email es obligatorio
                </div>
                <div id="alerta" *ngIf="registroForm.get('email')?.hasError('email')">
                  *Formato no valido
                </div>
            </div>
    
        <ion-item>
          <ion-label position="stacked">Password: </ion-label>
          <ion-input type="password" placeholder="Ingrese su password.." formControlName="password"></ion-input>
        </ion-item>

        <div id="alerta" *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty ||
                      registroForm.get('password')?.touched)">
                <div id="alerta" *ngIf="registroForm.get('password')?.hasError('required')">
                  *password es obligatorio
                </div>
                <div id="alerta" *ngIf="registroForm.get('password')?.hasError('pattern')">
                  *Password debe tener minimo 8 caracteres, una letra u un numero
                </div>
            </div>
    
        <div style="text-align: center; margin-top: 20px;">
          <ion-button (click)="crearUsuario()" type="submit" [disabled]="!registroForm.valid" fill="solid" shape="round" color="primary">
            Registrarse
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  
  </ion-card>
  
</ion-content>
