<ion-header [translucent]="true">
  <ion-item lines="none">
    <ion-title> Mi bibloteca</ion-title>
    <ion-buttons slot="start" (click)="regresar()" >
      <ion-icon  slot="start" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Harry Potter: la piedra filosofa "solitud de vicente por "divergente":"</ion-label>
     
     
          <ion-button >
            <ion-icon slot="start" name="add"></ion-icon>
            aceptar
          </ion-button>
          <ion-button >
            <ion-icon slot="start" name="add"></ion-icon>
            rechazar
          </ion-button>
    
    </ion-item>
    <ion-item>
      <ion-label>Harry Potter: la piedra filosofa "solitud de vicente por "avatar"</ion-label>
     
     
          <ion-button >
            <ion-icon slot="start" name="add"></ion-icon>
            aceptar
          </ion-button>
          <ion-button >
            <ion-icon slot="start" name="add"></ion-icon>
            rechazar
          </ion-button>
    
    </ion-item>
    <ion-item>
      <ion-label>Harry Potter: la piedra filosofa "solitud de jose por "principito"</ion-label>
     
     
          <ion-button >
            <ion-icon slot="start" name="add"></ion-icon>
            aceptar
          </ion-button>
          <ion-button >
            <ion-icon slot="start" name="add"></ion-icon>
            rechazar
          </ion-button>
    
    </ion-item>

    
    </ion-list>
</ion-content>