<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>
  <ion-list>
    <ion-item>
      <ion-select label="Alexis Sanchez" placeholder="estado de prestamo">
        <ion-select-option value="apple">Al dia</ion-select-option>
        <ion-select-option value="banana">Pasado</ion-select-option>
        <ion-select-option value="orange">Entregado</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select label="Juanito Perez" placeholder="estado de prestamo">
          <ion-select-option value="apple">Al dia</ion-select-option>
          <ion-select-option value="banana">Pasado</ion-select-option>
          <ion-select-option value="orange">Entregado</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select label="cachupin gonzalez" placeholder="estado de prestamo">
            <ion-select-option value="apple">Al dia</ion-select-option>
            <ion-select-option value="banana">Pasado</ion-select-option>
            <ion-select-option value="orange">Entregado</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select label="PROFE vivi :D" placeholder="estado de prestamo">
              <ion-select-option value="apple">Al dia</ion-select-option>
              <ion-select-option value="banana">Pasado</ion-select-option>
              <ion-select-option value="orange">Entregado</ion-select-option>
            </ion-select>
          </ion-item>
  
