.titulo-tabs{
    margin: 5px;
    font-size: 15px;
    text-align: center;
    
}



  
.card-busqueda{
    height: 55px;
    margin: 20px;
    border-radius: 12px;
    padding: 13px;
}
.card-busque{
    height: 30px;
    display: flex;
    align-items: flex-start; // Alinea al inicio verticalmente
    
    
}
.item-busque{
    display: flex;
    align-items: flex-start; // Alinea al inicio verticalmente
    padding-bottom: 5px;
    
}
.disponible{
    border-radius: 12px;
    border: 2px solid #1ef816;
}
.no-disponible{
    border-radius: 12px;
    border: 2px solid #e21e10;
}
.box-libro{
   padding-top:5px;
   padding-bottom: 1px;
    
}
.avatar-grande {
    width: 80px;
    height: 80px;
  }
  
  
  .imagen-compacta {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    max-width: 150px; /* Máximo ancho de la imagen para que sea compacta, puedes ajustarlo */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen al espacio disponible sin distorsionar */
    border-radius: 10px; /* Opcional: si deseas bordes redondeados */
  }
  

