
<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start" (click)="regresar()" >
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-toolbar>
      <ion-title class="titulo-tabs" >Bibloconnect</ion-title>
    </ion-toolbar>
    
    
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/avatar.jpg" alt="Foto de perfil">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-card class="card-busqueda">
    <!--borar hago el llamado de la directiva *ngIf="!borrar" mediante [(ngModel)]="borrar" al escribir-->
      <ion-item class="card-busque">
        <ion-icon *ngIf="!borrar" slot="start" name="search-outline" class="search-icon"></ion-icon>
        <ion-input [(ngModel)]="borrar" type="text" placeholder="Buscar" name="correo"></ion-input>
      </ion-item>
     
      
    
  </ion-card>

      <ion-item>
        <ion-button shape="round">Todo</ion-button> 
        <ion-button shape="round">Entrega</ion-button>
        <ion-button shape="round">Pedidos</ion-button>
      </ion-item>
        
  <ion-list [inset]="true">
<!-- 1 -->
<div *ngFor="let libro of libros" class="box-libro">
  <ion-item-sliding *ngIf="libro.disponible" [ngClass]="{ 'disponible': libro.disponible, 'no-disponible': !libro.disponible }">
    <ion-item [button]="true">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="Portada del libro" [src]="libro.imagen_url" />
      </ion-avatar>
      <ion-label>
        <h3><strong>{{ libro.nombre }}</strong></h3>
        <p>{{ libro.descripcion }}</p>
        <p><strong>Autor:</strong> {{ libro.autor }}</p>
        
        <p>
          <strong>Disponible:</strong> {{ libro.disponible ? 'Sí' : 'No' }}</p>
      </ion-label>
    </ion-item>
    <ion-item-options slot="end">
      <ion-item-option color="warning" expandable="true">
        <ion-icon slot="icon-only" name="sparkles-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</div>

