<ion-content class="ini">

  <ion-card class="i-extruct">
    <ion-card-header class="ti">
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre: </ion-label>
        <ion-input type="text" placeholder="Ingrese su Nombre.." name="text1" ></ion-input>
       </ion-item>
       <ion-item>
        <ion-label position="stacked">Apellido: </ion-label>
        <ion-input type="text" placeholder="Ingrese su apellido.." name="text2" ></ion-input>
       </ion-item>
       <ion-item>
        <ion-label position="stacked">Email: </ion-label>
        <ion-input type="email" placeholder="Ingrese su correo.." name="correo" ></ion-input>
       </ion-item>
  
       <ion-item>
        <ion-label position="stacked">Password: </ion-label>
        <ion-input type="password" placeholder="Ingrese su password.." name="pass"></ion-input>
       </ion-item>
       <ion-item>
        <ion-label position="stacked">Repetir Password: </ion-label>
        <ion-input type="password" placeholder="Ingrese su password.." name="pass"></ion-input>
       </ion-item>
  
    </ion-card-content>
  
    <div style="text-align: center;">
      <ion-button (click)="acceso()" fill="solid" shape="round" color="primary" style="padding-bottom: 10px;">
        Login
      </ion-button>
      
    </div>
    
  
  </ion-card>
  </ion-content>