
<ion-content class="inico">
<div class="i-extructura">
  <div>
    <img class="inicio-foto" src="assets/inicio-libro.png" alt="" >
  </div>
  <div class="inico-titulo">
    <h1>Bibloconnect</h1>
    <p>Encuentro de conocimiento y creatividad.</p>
  </div>
  <div style="text-align: center;">
    <ion-button (click)="login()" fill="solid" shape="round" color="primary" class="registar" style="padding-bottom: 10px;">
      Login
    </ion-button>
  </div>
  <div  class="s1"style="text-align: center;">
    <ion-button (click)="registro()" fill="solid" shape="round" color="primary" class="r1" style="padding-bottom: 5px;">
      Registarse
    </ion-button>
    
    <ion-item class="c1">
      <ion-label class="c2">Al continuar, acepta los terminas y condiciones</ion-label>
    </ion-item>
    
  </div>
</div>
</ion-content>



